.body {
    width: 100%;
    height: 100%;
    margin: 0;
}


.left {
    display: inline-block;
    margin: 10px;
    font-size: 10pt;
}

.right {
    display: inline-block;
    float: right;
    margin: 10px;
    font-size: 10pt;
}

.profile {
    display: inline-block;
    float: right;
}

.logo {
    position: absolute;
    top: 200px;
    left: 0%;
    right: 0%;
    display : block;
    margin : auto;
    margin-bottom: 10px;
    width: 250px;
}

.search {
    position: absolute;
    top: 300px;
    left: 0%;
    right: 0%;
    display : block;
    margin : auto;
    margin-bottom: 10px;
    width: 450px;
  }

  .item {
    position: relative;
    top: 320px;
    left: 630px;
    display : inline-block;
    width: 120px;
    height: 30px;
  }

  .account {
    display: inline-block;
    float: right;
    margin: 10px;
    width: 30px;
  }

  .menu {
    display: inline-block;
    float: right;
    margin: 10px;
  }


/*
  .main {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    width: 100%;
    height: 100%;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
  }
  .logo {
    display : block;
    margin : auto;
    margin-bottom: 10px;
    width: 250px;
  }
  .search {
    display : block;
    margin : auto;
    margin-bottom: 10px;
    width: 450px;
  }

  .left, #right {
    margin: 10px;
    font-size: 10pt;
  }
  .right {
    display: right;
  }
  .menu, #account {
    margin: 3px;
    position: relative;
    top: -10px;
    left: 7px;
  }
  .account {
    margin-left: 5px;
    width: 30px;
  }
  .right div {
    padding-bottom: 3px;
  } */