<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type= "text/css" rel="stylesheet" href="bym_display.css">
    <title>bym_Google</title>
</head>

<body>
    <div class="parent1">
        <span class="googleinformation"><a href="#">Goole 정보</a></span>
        <span class="store" style="margin-right:8px"><a href="#">스토어</a></span>
    </div>
    <div class="parent2">
        <span class="Gmail"><a href="#">Gmail</a></span>
        <span class="image"><a href="#">이미지</a></span>
        <span class="munu"><img src="../../layout_img/menu.png" alt="menu" style="width: 13px; height: 13px"></span>
        <span class="account"><img src="../../layout_img/account.png" alt="account" style="width: 30px; height: 30px"></span>
    </div>
    <br><br>

    <div class="parent3">
        <span class="google"><img src="../../layout_img/google.png" alt="google" style="width: 300px; height: 100px"></span>
    </div>
    <div class="parent4">
        <span class="search"><img src="../../layout_img/search.png" alt="search" style="width: 590px; height: 90px"></span>
    </div>
    <div class="parent5">
        <span class="item2"><img src="../../layout_img/item2.png" alt="item2" style="width: 98px; height: 30px"></span>
        <span class="item1"><img src="../../layout_img/item1.png" alt="item1" style="width: 130px; height: 30px"></span>
    </div>
</body>
